.dropdown-tab {
    font-size: 14px !important;
    font-weight: lighter !important;
    color: #000 !important;
    padding: 22px !important;
    line-height: 1.2 !important;
    width: 250px !important;
    text-transform: capitalize !important;
    font-family: helvetica !important;
    opacity: 1 !important;
  }
  