.headerContainer {
    box-sizing: border-box;
    justify-content: space-between;
    height: 50px;
    font-family: Gilroy,sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 
                0 1px 10px 0 rgba(0,0,0,.12), 
                0 2px 4px -1px rgba(0,0,0,.2);
}

.logo {
    width: 130px;
    height: auto;
    object-fit: contain;
}
